extends layout

block content
  h1= title
  div(class=" container rounded pt-3 col-md-4 bg-info")
    form(id='MobilePhoneForm', action="/resource/mobilePhones", method="POST")
        div.form-group
            label.mobilePhoneAttr(for='brand') 
                strong Mobile Phone Brand
            input#brand(type='text', name='brand',class='form-control')
        div.form-group
            label.mobilePhoneAttr(for='model') 
                strong Mobile Phone Model
            input#model(type='text', name='model',class='form-control')
        div.form-group
            label.mobilePhoneAttr(for='cost') 
                strong Mobile Phone Cost
            input#cost(type='number', name='cost',class='form-control')
        div.form-group
            label.mobilePhoneAttr(for='color') 
                strong Mobile Phone Color
            input#color(type='text', name='color',class='form-control')
        input(type="submit" class="btn btn-success")

  script.
    document.forms['MobilePhoneForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

